.App {
	display: flex;
	text-align: center;
	color: white;
	height: 100vh;
	background-color: #111;

	.mainWrapper {
		display: flex;
		width: 100%;

		.sideBar {
			flex: 1;
			background-color: #222;
			height: auto;
		}

		.mainPanel {
			flex: 4;
		}

		.playContainer {
			height: 100%;
			display: flex;

			.mainPlayPanel {
				flex: 3
			}

			.leaderboardSideBar {
				flex: 1;
				background-color: #161616;
				padding: 16px;
			}
		}
	}
}
